@@ -18,6 +18,11 @@ body {

}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }
}
/* Navbar */
header {
  position: fixed;
@@ -36,6 +41,12 @@ header {
  background-color:#504444;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Sign Up */
.button {
  height: 40px;
@@ -135,6 +146,7 @@ nav {
}

.card {
  flex: 1; 
  position: relative;
  display: grid;
  grid-template-columns: 250px;
@@ -152,6 +164,8 @@ nav {
  margin: 16px;
  flex-shrink: 0.6;
  border-radius: 18px;
  width: 100%; /* Cards take up full width on smaller screens */
    margin: 16px 0;
}

.card-image {
